body{
    background-image: url(cenario.png);
}
#urso{
    width: 90px;
    position: fixed;
    bottom: 260px;
    left: 30px;
}
.flip-image {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}