h1{
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.estrela{
    width: 70px;
    height: 70px;
    display: inline-block;
    background-image: url(estrela.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.container{
    display: flex;
    cursor: pointer;
    gap: 1rem;
}
.espaco_item{
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}
.container__item input[type=checkbox]:checked ~ span.estrela::after{
    color: #FC0; 
}
body{
    margin-left: 700px;
    margin-top: 20px;
    background-color: indianred;
}
.estrela:hover{
    background-image: url("favorito.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 0.5s;
}
input[type=checkbox]{
    width: 50px;
}
.estrela:focus{
    background-image: url("favorito.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
input[type="checkbox"]:checked + .estrela{
    background-image: url("favorito.png");
    transition: 0.5s;
}