body{
    background-color: coral;
}
.corpo{
    background-color: white;
    width: 600px;
    border-radius:8px ;
}
.titulo{
    border-radius: 8px;
}
.nome{
    width: 300px;
}
.nome:focus{
    width: 300px;
    border: 4px;
    border-color: black;
}
.email{
    width: 300px;
}
.email:valid{
    width: 300px;
    background-color: white;
}
.email:required:invalid{
    width: 300px;
    background-color: rgba(255, 0, 0, 0.603);
}
.email:focus{
    width: 300px;
    border: 4px;
    border-color: black;
}
.selecionar{
    width: 300px;
}
.selecionar:required{
    color: red;
}
.texto_obrigatorio{
    width: 300px;
    height: 100px;
}
.texto_obrigatorio:focus{
    width: 300px;
    border: 4px;
    border-color: black;
}