body{
    background-color: rgb(240, 191, 128);
}
.link{
    width: 220px;
    border-radius: 10px;
    background-color: rgba(0, 0, 139, 0.671);
    display: inline-block;
}
.link:hover{
    background-color: cornflowerblue;
}
.imagem{
    padding: 10px;
    width: 200px;
    display: none;
}
.link:hover .imagem{
    display: block;
}
a:link{
    color: hotpink;
}
a:visited{
    color: gold;
}
a:active{
    color:rgb(0, 64, 121);
}
a:focus h2{
    color: yellow;
}
