#titulo{
    width: 600px;
    background-color: white;
    border-radius: 8px;
}
.corpo{
    padding-top: 80px;
    width: 600px;
    height: 420px;
    background-color: white;
    border-radius: 8px;
}
body{
    background-color: darkblue;
}
.nome{
    transition: 1s;
}
.nome:focus{
    border: solid;
}
.nome:valid{
    background-color: rgba(0, 128, 0, 0.548);
}
.nome:required:invalid{
    background-color: rgba(255, 0, 0, 0.623);
}
.email{
    transition: 1s;
}
.email:focus{
    border: solid;
}
.email:valid{
    background-color: rgba(0, 128, 0, 0.548);
}
.email:required:invalid{
    background-color: rgba(255, 0, 0, 0.623);
}
.botao{
    background-color: blueviolet;
    color: goldenrod;
    transition: 1s;
}
.botao:hover{
    background-color: goldenrod;
    color: blueviolet;
}