h1{
    color: floralwhite;
}
body{
    background-color: lightpink;
}
p{
    font-size: larger;
}
#parede{
    padding-top: 10px;
}
.moldura{
    border-radius: 10px;
    display: inline-block;
    padding: 4px;
}
.moldura:nth-child(even){
    background-color: lightseagreen;
}
.moldura:nth-child(odd){
    background-color: brown;
}
.tela{
    width: 200px;
    padding: 4px;
    border-radius: 10px;
    display: inline-block;
}
.tela:hover{
    width: 300px;
}
.descricao{
    display: none;
}
.moldura:hover .descricao{
    display: block;
}